:root {
  --blue: #85A0DE;
  --lightBlue: #AEC0EA;
  /* --gray: rgb(135, 134, 134); */
  --forestGreen: #2e5e47;
  --darkBlue: #0c0444;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-container {
  width: 100%;
  background-color: var(--blue);
  position: fixed;
  z-index: 4;
  border-bottom: var(--darkBlue) solid 4px;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 65px;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--darkBlue);
    text-decoration: none;
    font-size: calc(2vw - .1rem);
    font-weight: 900;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-self: end;
}

.nav-links {
    color: var(--darkBlue);
    font-size: 1.3rem;
    text-decoration: none;
}

.nav-links:hover {
    color: var(--white);
    transition: all 0.2s ease-out;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-out;
  background: var(--white);
}

@media screen and (max-width: 1020px) {
  .nav-container {
      position: fixed;
      background-color: var(--blue);
      border-bottom: none;
  }

  .nav-menu {
      display: grid;
      grid-template-columns: auto;
      background: var(--blue);
      margin: 0;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 65px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 3;
  }


  #navbar-logo {
      color: var(--darkBlue);
      margin-left: 20px;
      font-size: 2.2rem;
      top: 10px;
      position: absolute;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
  }

  .nav-menu.active {
      background: var(--blue);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-links {
      background-color: var(--blue);
      color: var(--darkBlue);
      text-align: center;
      line-height: 60px;
      width: 100%;
      display: table;
      font-size: 1.3rem;
  }

  .nav-links:hover {
      background-color: var(--blue);
      color: var(--forestGreen);
      transition: all 0.4s ease;
  }

  .navbar {
      width: 100%;
  }

  #mobile-menu { 
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
      z-index: 2;
  }

  .menu-toggle .bar {
      display: block;
      cursor: pointer;
  }

  .menu-toggle:hover {
      cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}
  
  /* SPONSOR INFO CSS */
  .sponsorInfo {
      background-image: url("/images/TestFinalBlue.jpg");
      background-size: 20%;
      background-repeat: repeat;
      min-height: 90vh;
      width: 100%;
      max-width: 1920px;
  }
  
  .sponsorInfo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      background-color: var(--blue);
      border-radius: 0 0 50% 50%;
      border-bottom: var(--forestGreen) 60px solid;
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 1;
      width: 100%;
      max-width: 1920px;
      padding: 0 50px;
      /* top: 65px; */
      min-height: 100vh;
      position: relative; 
  }
  
  .sponsorInfo-container h1 {
      font-family: 'sani Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 7rem;

      color: #FFFFFF;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);  

      top: 100px;
      text-align: center;
      position: absolute;
  }

  .sponsorInfo-container p {
    color: var(--white);
    font-size: 3vh;
    border: solid transparent 1px;
    top: 240px;
    width: 620px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: solid;
    position: absolute;
}

  .sponsorInfo-btn {
    font-size: 1.3rem;
    background-color: var(--darkBlue);
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #ffff;
    cursor: pointer;
    top: 460px;
    position: absolute;
    transition: all 0.35s;
    z-index: 2;
  }

  .sponsorInfo-btn a {
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: none;
  }

  .sponsorInfo-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--forestGreen);
    transition: all 0.35s;
    border-radius: 15px;
  }

  .sponsorInfo-btn:hover {
    color: #fff;
  } 

  .sponsorInfo-btn:hover:after {
    width: 100%;
  }
  
  @media screen and (max-width: 1020px) {
    .sponsorInfo {
      background-image: url("/images/TestFinalBlue.jpg");
      background-size: 40%;
      background-repeat: repeat;
      min-height: 90vh;
      border-top: var(--darkBlue) solid 10px;
    }  
    
    .sponsorInfo-container {
      z-index: 1;
      width: 100%;
      max-width: 1920px;
      padding: 0 50px;
      min-height: 100vh;
      position: relative;
    } 
    
    .sponsorInfo-container h1 {
        font-size: 14vh;
        top: 100px;
        text-align: center;
        position: absolute;
    }
  
    .sponsorInfo-container p {
        color: var(--white);
        font-size: 3vh;
        top: 240px;
        position: absolute;
    }

    .sponsorInfo-btn {
        font-size: 1.2rem;
        padding: 12px 28px;
        top: 460px;
    }
  }

@media screen and (max-width: 760px) {    
    .sponsorInfo {
      background-image: url("/images/TestFinalBlue.jpg");
      background-size: 55%;
      background-repeat: repeat;
      min-height: 90vh;
    }  

    .sponsorInfo-container h1 {
      color: var(--white);
      font-size: 3rem;
      border: solid var(--darkBlue) 10px;
      border-radius: 30px;
      width: 360px;
      height: 80px;
      border-style: solid;
      top: 100px;
      text-align: center;
      position: absolute;
    }

    .sponsorInfo-container p {
      color: var(--white);
      font-size: 2.8vh;
      top: 200px;
      max-width: 350px;
      min-height: 100px;
      position: absolute;
    }

    .sponsorInfo-btn {
      margin: auto 20px;
      font-size: 1rem;
      padding: 12px 14px;
      top: 510px;
    }
  }

@media screen and (max-width: 560px) {   
    .sponsorInfo-container h1 {
        font-size: 2.5rem;
        text-align: center;
        padding: 8px;
        max-width: 300px;
    }
    
    .sponsorInfo-container p {
        color: var(--white);
        font-size: 2.8vh;
        top: 200px;
        max-width: 340px;
        text-align: center;
        position: absolute;
    }

    .sponsorInfo-btn {
        font-size: 1rem;
        top: 530px;
    }
  }

  @media screen and (max-width: 480px) {   
    .sponsorInfo-btn {
        font-size: 1rem;
        top: 460px;
    }
  }

  /* SPONSOR LEVELS */
  .levels {
      background-image: url("/images/TestFinalBlue.jpg");
      background-size: 20%;
      background-repeat: repeat;
      min-height: 90vh;
      z-index: 1;
      width: 100%;
      max-width: 1920px;
      border-bottom: var(--lightBlue) 10px solid;
      border-radius: 0 0 0% 0%;
      min-height: 91.5vh;
      position: relative;
      flex-wrap: wrap;
  }

  .levels-container {
    padding: 20px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .level-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    border: 5px solid var(--lightBlue);
    background-color: var(--darkBlue);
    position: relative;
    border-radius: 20px;
  }
  
  .level-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white)
  }

@media screen and (max-width: 1020px) {
    .levels {
      background-image: url("/images/TestFinalBlue.jpg");
      background-repeat: repeat;
      background-size: 40%;
    }
  
    .levels-container {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .levels-container:before {
      left: 60px;
      border: medium solid var(--white);
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--white) transparent transparent;
    }

    .right {
      left: 0%;
    }
}

@media scree and (max-width: 760px) {
  .levels {
    background-image: url("/images/TestFinalBlue.jpg");
    background-size: 55%;
    background-repeat: repeat;
  }
}

/* FOOTER CSS */
.site-footer {
  height: 65px;
  background-color: var(--blue);
  display: flex;
}

.footer-container {
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  padding: 30px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-container {
  text-align: center;
  color: var(--darkBlue);
}

.logo-left {
  margin: auto 40px;
  justify-content: center;
  align-items: center;
}

.logo-right {
  margin: auto 40px;
  justify-content: center;
  align-items: center;
}